@font-face{
font-family: Ubuntu;
src: url('Ubuntu-Regular.ttf');
}
body{
font-family: Ubuntu;
background: #000000;
color: #ffffff;
font-size: 25px;
}
table,th,td{
border: 4px solid white;
border-collapse: collapse;
}
